@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #dc3434;
  /* Light mode primary color */
  --secondary-color: #ffed4a;
  /* Light mode secondary color */
  --background-color: #ffffff;
  /* Light mode background color */
  --text-color: #2d3748;
  /* Light mode text color */
  --secondary-text-color: rgb(168,182,182);
}

.dark {
  --primary-color: #d81d1d;
  /* Dark mode primary color */
  --secondary-color: #facc15;
  /* Dark mode secondary color */
  --background-color: #1a202c;
  /* Dark mode background color */
  --text-color: #f7fafc;
  /* Dark mode text color */
}



html {
  scroll-behavior: smooth;
  box-sizing: border-box;

}